/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* LOGO */
.logo__img {
  width: 110px;
  height: 52px;
}
@media screen and (max-width: 768px) {
  .logo__img {
    width: 90px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .logo__img {
    width: 70px;
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-bottom: 50px;
}

/* TOP BANNER */
.top-banner {
  position: relative;
  background: no-repeat center/cover;
  height: calc(100vh - 107px);
  margin-bottom: 100px;
  transition: height 0.5s ease;
}
.top-banner::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
  .top-banner {
    height: calc(100vh - 82px);
  }
}
@media only screen and (max-width: 576px) {
  .top-banner {
    height: calc(100vh - 62px);
  }
}

@media only screen and (max-width: 992px) {
  .top-banner__inner {
    display: flex;
    justify-content: center;
    height: 50%;
  }
}

.top-banner__content {
  position: absolute;
  top: 50%;
  z-index: 2;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
@media only screen and (max-width: 992px) {
  .top-banner__content {
    position: relative;
    height: auto;
  }
}

.top-banner__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .top-banner__title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .top-banner__title {
    font-size: 22px;
  }
}

.top-banner__desc {
  align-items: center;
  font-size: 21px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .top-banner__desc {
    font-size: 20px;
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner__desc {
    font-size: 18px;
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }
}
@media only screen and (max-width: 576px) {
  .top-banner__desc {
    font-size: 16px;
    -webkit-line-clamp: 7;
    line-clamp: 7;
  }
}

.to-down {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  -webkit-animation: down-anim 2s infinite;
          animation: down-anim 2s infinite;
  transition: bottom 0.5s ease, opacity 0.5s ease;
}
.to-down svg {
  width: 34px;
  height: 45px;
}
@media only screen and (max-width: 576px) {
  .to-down svg {
    width: 23px;
    height: 30px;
  }
}

@-webkit-keyframes down-anim {
  0% {
    bottom: 32px;
  }
  25% {
    bottom: 20px;
  }
  50% {
    bottom: 32px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 32px;
  }
}

@keyframes down-anim {
  0% {
    bottom: 32px;
  }
  25% {
    bottom: 20px;
  }
  50% {
    bottom: 32px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 32px;
  }
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 20;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;
  display: none;
}
.modal.show {
  display: flex;
}

.modal__inner {
  position: relative;
  max-width: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .modal__inner {
    padding: 30px;
    max-width: 85%;
  }
}
@media only screen and (max-width: 576px) {
  .modal__inner {
    max-width: 90%;
  }
}

.modal__content {
  display: flex;
  align-items: center;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: top 0.5s ease, right 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .modal__close {
    right: 5px;
    top: 5px;
  }
}

.modal__video {
  border: none;
  max-width: 600px;
  width: 100%;
  max-height: 337.5px;
  height: 100%;
}

.site-header {
  background-color: #171717;
  padding: 28px 0;
}
@media screen and (max-width: 768px) {
  .site-header {
    padding: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .site-header {
    padding: 15px 0;
  }
}

/* POPULAR */
.popular {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popular__title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .popular__title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 768px) {
  .popular__title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 576px) {
  .popular__title {
    font-size: 30px;
  }
}

.popular__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 50px;
  justify-content: center;
}

.card-popular {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-popular::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-popular:hover::before {
  opacity: 1;
}
.card-popular:hover .card-popular__title {
  opacity: 1;
}
.card-popular:hover .card-popular__btn {
  opacity: 0.8;
}

.card-popular__img {
  width: 100%;
  height: auto;
}

.card-popular__rating-badge {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 3px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.card-popular__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card-popular__title {
  font-size: 18px;
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  bottom: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.site-footer {
  background-color: #171717;
  padding: 28px 0;
}
@media screen and (max-width: 768px) {
  .site-footer {
    padding: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .site-footer {
    padding: 15px 0;
  }
}/*# sourceMappingURL=main.css.map */