/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* SITENAV */
.sitenav__list {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

.sitenav__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .sitenav__link {
    font-size: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .sitenav__link {
    font-size: 14px;
  }
}

/* LOGO */
@media only screen and (max-width: 576px) {
  .logo {
    margin-right: 20px;
  }
}

.logo__img {
  width: 80px;
  height: 37px;
}
@media screen and (max-width: 768px) {
  .logo__img {
    width: 70px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .logo__img {
    width: 60px;
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-bottom: 50px;
}

/* TOP BANNER */
.top-banner {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #000;
  transition: height 0.5s ease;
}

.top-banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  filter: brightness(0.3);
}
@media only screen and (max-width: 992px) {
  .top-banner__img {
    min-width: 100%;
  }
}

.top-banner__content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-banner__content-inner {
  max-width: 600px;
  width: 100%;
  transform: translateX(-250px);
  color: #fff;
  transition: transform 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .top-banner__content-inner {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 992px) {
  .top-banner__content-inner {
    font-size: 28px;
    transform: translateY(100px);
  }
}
@media only screen and (max-width: 768px) {
  .top-banner__content-inner {
    font-size: 24px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .top-banner__content-inner {
    font-size: 22px;
  }
}

.top-banner__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  text-transform: uppercase;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .top-banner__title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .top-banner__title {
    font-size: 22px;
  }
}

.top-banner__desc {
  font-size: 21px;
  text-align: justify;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease, margin 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .top-banner__desc {
    font-size: 20px;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner__desc {
    font-size: 18px;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 576px) {
  .top-banner__desc {
    font-size: 15px;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    margin-bottom: 4px;
  }
}

.top-banner__link {
  color: #0d6efd;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .top-banner__link {
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner__link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .top-banner__link {
    font-size: 15px;
  }
}

/* TO DOWN ANIM ARROW */
.to-down {
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translate(-50%);
  animation: down-anim 2s infinite;
  transition: bottom 0.5s ease, opacity 0.5s ease;
}
.to-down svg {
  width: 34px;
  height: 45px;
}
@media only screen and (max-width: 576px) {
  .to-down svg {
    width: 23px;
    height: 30px;
  }
}

@keyframes down-anim {
  0% {
    bottom: 70px;
  }
  25% {
    bottom: 55px;
  }
  50% {
    bottom: 70px;
  }
  75% {
    bottom: 55px;
  }
  100% {
    bottom: 70px;
  }
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 20;
  inset: 0;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  visibility: hidden;
  transition: visibility 0.5s ease;
}
.modal .modal__inner {
  top: -100%;
  transform: translateY(-100%);
  transition: transform 0.7s ease, top 0.7s ease;
}
.modal.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.modal.show .modal__inner {
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.7s ease, top 0.7s ease;
}

.modal__inner {
  position: relative;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  transition: max-width 0.5s ease, padding 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .modal__inner {
    padding: 30px;
    max-width: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .modal__inner {
    max-width: 90%;
    min-height: 270px;
  }
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .modal__content {
    flex-direction: column;
  }
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: top 0.5s ease, right 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .modal__close {
    right: 5px;
    top: 5px;
  }
}

.modal__video {
  border: none;
  max-width: 400px;
  width: 100%;
  height: 225px;
}
@media only screen and (max-width: 992px) {
  .modal__video {
    height: 100%;
  }
}

.modal__content-title {
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .modal__content-title {
    font-size: 19px;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content-title {
    font-size: 18px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .modal__content-title {
    font-size: 17px;
  }
}

.modal__content-desc {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .modal__content-desc {
    font-size: 17px;
  }
}
@media only screen and (max-width: 576px) {
  .modal__content-desc {
    font-size: 16px;
  }
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader.hidden {
  display: none;
}

.loader__img {
  width: 200px;
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .loader__img {
    width: 120px;
    height: 120px;
  }
}

/* HEADER */
.site-header {
  background-color: #171717;
  padding: 18px 0;
  background-color: rgba(23, 23, 23, 0.9);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: padding 0.5s ease, background-color 0.5s ease;
}
.site-header.fixed {
  background-color: rgba(23, 23, 23, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .site-header {
    padding: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .site-header {
    padding: 15px 0;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* POPULAR */
.upcoming,
.popular,
.top {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-top: 100px;
}

.movie__title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .movie__title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 768px) {
  .movie__title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 576px) {
  .movie__title {
    font-size: 30px;
  }
}

.movie__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 50px;
  justify-content: center;
  margin-bottom: 50px;
  transition: gap 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .movie__wrapper {
    gap: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .movie__wrapper {
    gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .movie__wrapper {
    gap: 15px;
  }
}

.movie__load {
  display: flex;
  justify-content: center;
}

.movie__load-btn {
  border: none;
  min-width: 12px;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  background-color: #2e2a2a;
  color: #fff;
}
.movie__load-btn.d-none {
  display: none;
}

/* CARD */
.card-popular {
  max-width: 213px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: max-width 0.5s ease;
}
.card-popular::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .card-popular::before {
    transform: scale(0);
  }
}
.card-popular:hover::before {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .card-popular:hover::before {
    opacity: 0;
  }
}
.card-popular:hover .card-popular__title {
  opacity: 1;
}
.card-popular:hover .card-popular__btn {
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(1);
}
@media only screen and (max-width: 576px) {
  .card-popular {
    max-width: 157px;
  }
}

.card-popular__img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .card-popular__img {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 576px) {
  .card-popular__img {
    height: auto;
  }
}

.card-popular__rating-badge {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 3px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  transition: font-size 0.5s ease, width 0.5s ease;
}
@media only screen and (max-width: 576px) {
  .card-popular__rating-badge {
    font-size: 12px;
    width: 30px;
    height: 30px;
  }
}

.card-popular__title {
  font-size: 17px;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  bottom: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease, font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .card-popular__title {
    font-size: 16px;
    position: static;
    color: #000;
    opacity: 1;
    transform: none;
  }
}
@media only screen and (max-width: 576px) {
  .card-popular__title {
    font-size: 15px;
  }
}

.card-popular__link {
  position: absolute;
  inset: 0;
  z-index: 3;
}

/* CASTS */
.casts-card {
  max-width: 318px;
}

.casts-card__img {
  width: 100%;
  height: auto;
}

/* SWIPER */
.casts .swiper-slide {
  display: flex;
  justify-content: center;
}

.site-footer {
  background-color: #171717;
  padding: 28px 0;
}
@media screen and (max-width: 768px) {
  .site-footer {
    padding: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .site-footer {
    padding: 15px 0;
  }
}/*# sourceMappingURL=main.css.map */