/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: $tablet) {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: $tablet) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: $tablet) {
    background: rgb(110, 110, 110);
    border-radius: 10px;

    &:hover {
      background: rgb(110, 110, 110);
    }
  }
}

/* SITENAV */
.sitenav__list {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

.sitenav__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 15px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 14px;
  }
}

/* LOGO */
.logo {
  @media only screen and (max-width: $mobile) {
    margin-right: 20px;
  }
}

.logo__img {
  width: 80px;
  height: 37px;

  @media screen and (max-width: $tablet) {
    width: 70px;
    height: auto;
  }
  @media screen and (max-width: $mobile) {
    width: 60px;
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-bottom: 50px;
}

/* TOP BANNER */
.top-banner {
  position: relative;
  user-select: none;
  background-color: #000;
  transition: height 0.5s ease;
}

.top-banner__img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  filter: brightness(0.3);

  @media only screen and (max-width: $tablet-l) {
    min-width: 100%;
  }
}

.top-banner__content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-banner__content-inner {
  max-width: 600px;
  width: 100%;
  transform: translateX(-250px);
  color: #fff;
  transition: transform 0.5s ease;
  
  @media only screen and (max-width: $desktop) {
    transform: translateX(0);
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 28px;
    transform: translateY(100px);
  }

  @media only screen and (max-width: $tablet) {
    font-size: 24px;
    padding: 0 20px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 22px;
  }
}

.top-banner__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  text-transform: uppercase;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 28px;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 24px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 22px;
  }
}

.top-banner__desc {
  font-size: 21px;
  text-align: justify;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease, margin .5s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 20px;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    margin-bottom: 12px;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 18px;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    margin-bottom: 7px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 15px;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    margin-bottom: 4px;
  }
}

.top-banner__link {
  color: #0d6efd;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;

  @media only screen and (max-width: $tablet-l) {
    font-size: 17px;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 16px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 15px;
  }
}

/* TO DOWN ANIM ARROW */
.to-down {
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translate(-50%);
  animation: down-anim 2s infinite;
  transition: bottom 0.5s ease, opacity 0.5s ease;

  svg {
    width: 34px;
    height: 45px;

    @media only screen and (max-width: $mobile) {
      width: 23px;
      height: 30px;
    }
  }
}

@keyframes down-anim {
  0% {
    bottom: 70px;
  }

  25% {
    bottom: 55px;
  }

  50% {
    bottom: 70px;
  }

  75% {
    bottom: 55px;
  }

  100% {
    bottom: 70px;
  }
}
