/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: $tablet) {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: $tablet) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: $tablet) {
    background: rgb(110, 110, 110);
    border-radius: 10px;

    &:hover {
      background: rgb(110, 110, 110);
    }
  }
}

/* LOGO */
.logo__img {
  width: 110px;
  height: 52px;

  @media screen and (max-width: $tablet) {
    width: 90px;
    height: auto;
  }
  @media screen and (max-width: $mobile) {
    width: 70px;
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-bottom: 50px;
}

/* TOP BANNER */
.top-banner {
  position: relative;
  background: no-repeat center / cover;
  height: calc(100vh - 107px);
  margin-bottom: 100px;
  transition: height 0.5s ease;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media only screen and (max-width: $tablet) {
    height: calc(100vh - 82px);
  }

  @media only screen and (max-width: $mobile) {
    height: calc(100vh - 62px);
  }
}

.top-banner__inner {
  @media only screen and (max-width: $tablet-l) {
    display: flex;
    justify-content: center;
    height: 50%;
  }
}

.top-banner__content {
  position: absolute;
  top: 50%;
  z-index: 2;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  @media only screen and (max-width: $tablet-l) {
    position: relative;
    height: auto;
  }
}

.top-banner__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 28px;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 24px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 22px;
  }
}

.top-banner__desc {
  align-items: center;
  font-size: 21px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 20px;
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 18px;
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    -webkit-line-clamp: 7;
    line-clamp: 7;
  }
}

.to-down {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  animation: down-anim 2s infinite;
  transition: bottom 0.5s ease, opacity 0.5s ease;

  svg {
    width: 34px;
    height: 45px;

    @media only screen and (max-width: $mobile) {
      width: 23px;
      height: 30px;
    }
  }

  // @media only screen and (max-width: $mobile) {
  //   display: none;
  // }
}

@keyframes down-anim {
  0% {
    bottom: 32px;
  }

  25% {
    bottom: 20px;
  }

  50% {
    bottom: 32px;
  }

  75% {
    bottom: 20px;
  }

  100% {
    bottom: 32px;
  }
}
