/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: $tablet) {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: $tablet) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: $tablet) {
    background: rgb(110, 110, 110);
    border-radius: 10px;

    &:hover {
      background: rgb(110, 110, 110);
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SITENAV */
.sitenav__list {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  transition: gap 0.5s ease;

  @media only screen and (max-width: $tablet) {
    gap: 20px;
  }

  @media only screen and (max-width: $mobile) {
    gap: 15px;
  }
}

.sitenav__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 15px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 14px;
  }
}

/* LOGO */
.logo {
  @media only screen and (max-width: $mobile) {
    margin-right: 20px;
  }
}

.logo__img {
  width: 80px;
  height: 37px;

  @media screen and (max-width: $tablet) {
    width: 70px;
    height: auto;
  }
  @media screen and (max-width: $mobile) {
    width: 60px;
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-bottom: 50px;
}

/* ALERT TEXT */
.alert-text {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 28px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 20px;
  }
}

/* TO DOWN ANIM ARROW */
.to-down {
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translate(-50%);
  animation: down-anim 2s infinite;
  transition: bottom 0.5s ease, opacity 0.5s ease;

  svg {
    width: 34px;
    height: 45px;

    @media only screen and (max-width: $mobile) {
      width: 23px;
      height: 30px;
    }
  }
}

.cast-images__wrapper {
  display: flex;
  width: 100%;
}

.cast-images__img {
  width: 100%;
}

@keyframes down-anim {
  0% {
    bottom: 70px;
  }

  25% {
    bottom: 55px;
  }

  50% {
    bottom: 70px;
  }

  75% {
    bottom: 55px;
  }

  100% {
    bottom: 70px;
  }
}
