/* MODAL */
.modal {
  position: fixed;
  z-index: 20;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;
  display: none;

  &.show {
    display: flex;
  }
}

.modal__inner {
  position: relative;
  max-width: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;

  @media only screen and (max-width: $tablet) {
    padding: 30px;
    max-width: 85%;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 90%;
  }
}

.modal__content {
  display: flex;
  align-items: center;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: top .5s ease, right .5s ease;

  @media only screen and (max-width: $tablet-l) {
    right: 5px;
    top: 5px;
  }
}

.modal__video {
  border: none;
  max-width: 600px;
  width: 100%;
  max-height: 337.5px;
  height: 100%;
}
