/* MODAL */
.modal {
  position: fixed;
  z-index: 20;
  inset: 0;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  visibility: hidden;
  transition: visibility 0.5s ease;
  
  .modal__inner {
    top: -100%;
    transform: translateY(-100%);
    transition: transform 0.7s ease, top 0.7s ease;
  }
  
  &.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    .modal__inner {
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.7s ease, top 0.7s ease;
    }
  }
}

.modal__inner {
  position: relative;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  transition: max-width 0.5s ease, padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 30px;
    max-width: 80%;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 90%;
    min-height: 270px;
  }
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: top 0.5s ease, right 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    right: 5px;
    top: 5px;
  }
}

.modal__video {
  border: none;
  max-width: 400px;
  width: 100%;
  height: 225px;

  @media only screen and (max-width: $tablet-l) {
    height: 100%;
  }
}

.modal__content-title {
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 19px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 18px;
    text-align: center;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 17px;
  }
}

.modal__content-desc {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 17px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  }
}
