/* CASTS */
.casts-card {
  max-width: 318px;
}
.casts-card__img-wrapper {
}
.casts-card__img {
  width: 100%;
  height: auto;
}
.casts-card__content {
}
.casts-card__name {
}
.casts-card__character {
}