/* CASTS */
.casts {
  padding: 70px 0;
}

.casts__title {
  margin-bottom: 20px;
}

.casts-card {
  max-width: 318px;
  position: relative;
}

.casts-card__img {
  width: 100%;
  height: auto;
}

.casts-card__link {
  position: absolute;
  inset: 0;
}

.cast-movie {
  padding-top: 70px;
}

/* SWIPER */
.casts {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
