/* POPULAR */
.upcoming {
  padding-top: 30px;
}

.popular,
.top {
  user-select: none;
  padding-top: 100px;
}

.movie__title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 42px;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 36px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 30px;
  }
}

.movie__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 50px;
  justify-content: center;
  margin-bottom: 50px;
  transition: gap 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    gap: 25px;
  }
  @media only screen and (max-width: $tablet) {
    gap: 20px;
  }
  @media only screen and (max-width: $mobile) {
    gap: 15px;
  }
}

.movie__load {
  display: flex;
  justify-content: center;
}

.movie__load-btn {
  border: none;
  min-width: 12px;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  background-color: #2e2a2a;
  color: #fff;

  &.d-none {
    display: none;
  }
}
