// /* CASTS */
.trailers {
  padding-top: 70px;
  user-select: none;
}

.trailers__title {
  margin-bottom: 20px;
}

.trailers-card {
  max-width: 480px;
}

.trailers-card__video {
  width: 100%;
  height: auto;
}

// /* SWIPER */
.trailers {
  .swiper-wrapper {
    @media only screen and (min-width: $tablet) {
      justify-content: center;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
